@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Barlow", sans-serif;
}

.slide {
  transition: opacity 0.3s ease-in;
  opacity: 0;
}
.slide.active {
  opacity: 1;
}

.link-underline {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-underline::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #0474c4;
  transition: width 0.3s ease;
}

.link-underline:hover::after {
  width: 100%;
}
.link-underline-footer {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.link-underline-footer::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background: #5051525d;
  transition: width 0.3s ease;
}

.link-underline-footer:hover::after {
  width: 100%;
}

/* conference > welcome message css */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-90px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate-slide-in-left {
  animation: slideInLeft 5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

/* conference theme style  */
.capsule-panel {
  max-height: 0;
  opacity: 0;
  transform: translateY(-4px);
  overflow: hidden;
  padding-top: 0;
  padding-bottom: 0;
  transition: max-height 400ms ease, opacity 300ms ease, transform 300ms ease,
    padding 200ms ease;
}
/* OPEN state */
.capsule-panel[data-open="true"] {
  opacity: 1;
  transform: translateY(0);

  padding-top: 0.5rem;
  padding-bottom: 1.25rem;
}
